.navbar-inner
{
	background: #8fbed8; /* Old browsers */
	background: -moz-linear-gradient(top,  #8fbed8 44%, #5dadd8 67%, #267aa8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(44%,#8fbed8), color-stop(67%,#5dadd8), color-stop(100%,#267aa8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8fbed8 44%,#5dadd8 67%,#267aa8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8fbed8 44%,#5dadd8 67%,#267aa8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8fbed8 44%,#5dadd8 67%,#267aa8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8fbed8 44%,#5dadd8 67%,#267aa8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fbed8', endColorstr='#267aa8',GradientType=0 ); /* IE6-9 */
}

.hero-unit
{
	background-image: linear-gradient(bottom, rgb(24,29,31) 29%, rgb(75,83,87) 65%, rgb(134,153,153) 83%);
background-image: -o-linear-gradient(bottom, rgb(24,29,31) 29%, rgb(75,83,87) 65%, rgb(134,153,153) 83%);
background-image: -moz-linear-gradient(bottom, rgb(24,29,31) 29%, rgb(75,83,87) 65%, rgb(134,153,153) 83%);
background-image: -webkit-linear-gradient(bottom, rgb(24,29,31) 29%, rgb(75,83,87) 65%, rgb(134,153,153) 83%);
background-image: -ms-linear-gradient(bottom, rgb(24,29,31) 29%, rgb(75,83,87) 65%, rgb(134,153,153) 83%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.29, rgb(24,29,31)),
	color-stop(0.65, rgb(75,83,87)),
	color-stop(0.83, rgb(134,153,153))
);
}

h4 {
	color: white;
}